#putin {
    animation: rotation 8s infinite linear;
}

h1 {
  font-size: 3.5rem;
}

body {
    text-align: center;
    display: grid;
    grid-template-rows: repeat(3,1fr);
}



@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }